# ST75256 display driver configuration options

config ST75256
	bool "ST75256 display driver"
	default n
	select SPI
	help
		Enable driver for ST75256 display driver.

config DISPLAY_INIT_PRIORITY
	int "Display devices init priority"
	default 85
	help
	  Display devices initialization priority.

module = DISPLAY
module-str = display
source "subsys/logging/Kconfig.template.log_config"
